:root {
	/* marges : */
  --margeDeLaPage: 100px;
  --espaceEntreLesBlocs : 50px;

  /* couleurs */
  --couleurTitre :rgb(255, 255, 255);
  --couleurDuTexte : rgb(255, 255, 255);
  --couleurFond : rgb(5, 5, 8);

  /* dimension des blocs */
  --largeurPremierBloc : 500px;
  --largeurAside : 250px;


  /* taille des textes :  */
  --fontsizeGlobal : 1.1em;
  --fontSizeH1 : 40px;
  --fontSizeH2 : 40px;
}

html{
	font-size: var(--fontsizeGlobal);

	font-family: 'karrik';
 height: 100vh;
 overflow-y: hidden;
 display: flex;
 background-color: var(--couleurFond);
 color: var(--couleurDuTexte);

}

*{
	box-sizing: border-box;
}

header{
	width: var(--largeurPremierBloc);
	/*background-color:rgb(185, 185, 185)*/
}

aside{
	width: var(--largeurAside)
}

h1{
	color: var(--couleurTitre);
	font-size: var(--fontSizeH1);
	font-style: italic;
	margin-bottom: 10px;
	font-family: "termm";
}

h2{
	color: var(--couleurTitre);
	font-size: var(--fontSizeH2);
	font-style: italic;
	margin-bottom: 10px;
	font-family: "termm";
}

body{
	display: flex;
	height: 100%;
	padding: var(--margeDeLaPage);
	position: relative;
}

body>*{
	margin-right: var(--espaceEntreLesBlocs);
}

.galerie_horizontale{
	  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.galerie_horizontale>*{
	  width: auto;
  height: 30%;
  position: relative;
}

.fullPage{
	height: 100vh;
	position: relative;
	top: calc( var(--margeDeLaPage)* -1 );
}

figure,video{
	height: 100%;
	width: auto;
}

figcaption{
	font-style: italic;
	font-size: 1.4em;
	margin-top: 0.5vw;
}


a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(123, 123, 123);
}

/* mouse over link */
a:hover {
  color: rgb(211, 211, 211);
}

@font-face {
  font-family: "karrik";
  src:
    url("../Karrik-Regular.woff") format("woff");
}


@font-face {
  font-family: "termm";
  src:
    url("../terminal-grotesque-webfont.woff") format("woff");
}



.premier{
	margin-top:2vw;
	background-color: grey;
	margin-bottom:2vw;
}

/* canvas{display: none;} */
